/*media*/
@media (max-width: 1000px){
  body, html {
  overflow-x: hidden!important;
  }
  }


@media screen and (max-width: 768px){
  .cabecalho-nav{
    position: absolute;
    flex-direction:column ;
    top:0;
    background-color: var(--color-blue1);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration:1s;
    margin-left: -100vw;
  }

  .btn-nav{
    display: block;
  }

  #logo{

    width: 35px;
    height: 35px;
  }
  
  #cabecalho-logo-text{
    display: none;
  }

  .fnd-blue-left-1-text-admin{
    font-size: 30px;
    line-height: 40px;
  }

#secao-2-title{
  font-size: 10px;
}


/* seção 2 */
#secao-2-title .secao-2-title-principal {
  font-size: 90px;
}

.secao-2-ld-dir-itens{
  display: flex;
  align-items: center;
  justify-content: start;
}


}
 @keyframes showSidebar {
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
 }

 @media screen and (max-width: 1156px){

  

  #logo{
    padding-right: 3px;
  }

  #cabecalho-logo-text{
    display: none;
  }


  .fnd-blue-left-1-text{
    font-size: 100px;
    line-height: 80px;
  }

  #img-ao-lado{
    width: 100px;
    height: 100px;
    right: 60px;
  }

  #text-box-itens{
    font-size: 115%;
    text-align: center;
  }

/* respponsivo secao 2 */
#secao-2-ld-dir-responsive{
  display:block;
}


  #secao-2-admin{
    display: flex;
    flex-direction: column;
  }

  #secao-2-ld-dir{
    display:none;
  }

  #secao-2-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #secao-2-ld-dir-responsive{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: start;
  }

  #secao-2-ld-dir-responsive{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: start;
  }


 }
  

 @media screen and (max-width: 588px){
  #sobre-secao-2{
    padding-left:20px; 
    }

/* importante */
  #secao-2-ld-esq{
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .fnd-blue-left-1-text{
    font-size: 60px;
    line-height:50px;
  }
  .cabecalho{
    height: 4em;
  }
  #img-ao-lado{
    width: 80px;
    height: 80px;
    right: 17px;
  }

  #text-box-itens{
    width: 80%;
    padding: 0px 10px 0 10px;
    font-size: 100%;
  }


#secao-2-title{
  flex-direction: row;
  align-items: center;
  
   
  }


}
@media screen and (max-width: 430px){

  
  #sobre-secao-2{
    padding-left:50px; 
    }

  .secao-2{
    position: relative;
  }
  #sobre-secao-2{
  padding-left:20px; 
  }
 /* me chamo */
  #secao-2-title .secao-2-title-principal {
    font-size: 70px;
  }
  #secao-2-title-abaixo-2 p{
    font-size: 25px;
  }


  

  #secao-2-ld-dir-responsive h1{
    font-size: 40px;
}
  #secao-2-ld-dir-responsive p{
  font-size: 20px;
  }

  #secao-2-title-abaixo-2{
    font-size: 20px;
    
  }
}

  
  

  





@media screen and (max-width: 310px){
  #secao-2-title-abaixo-1 p{
    font-size: 20px;
  }

  #sobre-secao-2{
    padding-left:10px; 
    padding-bottom: 0px;
    }

  #secao-2-title-abaixo-2{
    font-size: 1px;
    max-width: 200px;
  }

  .fnd-blue-left-1-text{
    font-size: 40px;
    line-height: 40px;
  }

  #img-ao-lado{
    width: 60px;
    height: 60px;
    right: 0px;
  }

  


  #secao-2-title-abaixo-1{
    font-size: 25px;
  }
  #secao-2-title .secao-2-title-principal {
    padding-top: 0px;
    font-size: 50px;
  }

}
 




@media screen and (max-width: 208px){
  .fnd-blue-left-1-text{
    font-size: 80%;
    line-height: 40px;
    text-align: center;
  }

  #img-ao-lado{
    display: none;
  }

  #text-box-itens{
    width: 80%;
    height: auto;
    padding: 0px 10px 0 10px;
    font-size: 80%;
  }


}