/*media*/

@media screen and (max-width: 768px){
  .cabecalho-nav{
    position: absolute;
    flex-direction:column ;
    top:0;
    background-color: var(--color-blue1);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration:1s;
    margin-left: -100vw;
  }

  .btn-nav{
    display: block;
  }

  #logo{

    width: 35px;
    height: 35px;
  }
  
  #cabecalho-logo-text{
    display: none;
  }

  .fnd-blue-left-1-text-admin{
    font-size: 30px;
    line-height: 40px;
  }

#secao-2-title{
  font-size: 10px;
}


/* seção 2 */
#secao-2-title .secao-2-title-principal {
  font-size: 90px;
}

.secao-2-ld-dir-itens{
  display: flex;
  align-items: center;
  justify-content: start;
}


}
 @keyframes showSidebar {
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
 }

 @media screen and (max-width: 1156px){

  #secao-2-title-abaixo-1{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #logo{
    padding-right: 3px;
  }

  #cabecalho-logo-text{
    display: none;
  }


  .fnd-blue-left-1-text{
    font-size: 100px;
    line-height: 80px;
  }

  #img-ao-lado{
    width: 100px;
    height: 100px;
    right: 60px;
  }

  #text-box-itens{
    font-size: 115%;
    text-align: center;
  }

/* respponsivo secao 2 */
#secao-2-ld-dir-responsive{
  display:block;
}


  #secao-2-admin{
    display: flex;
    flex-direction: column;
  }

  #secao-2-ld-dir{
    display:none;
  }

  #secao-2-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secao-2-ld-dir-responsive{
    display:flex;
    flex-direction: row;
  }

 }
  

 @media screen and (max-width: 588px){

  #secao-2-ld-esq{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fnd-blue-left-1-text{
    font-size: 60px;
    line-height:50px;
  }
  .cabecalho{
    height: 4em;
  }
  #img-ao-lado{
    width: 80px;
    height: 80px;
    right: 17px;
  }

  #text-box-itens{
    width: 80%;
    padding: 0px 10px 0 10px;
    font-size: 100%;
  }

  /* seção 2 */
  /* seção 2 */
#secao-2-title .secao-2-title-principal {
  font-size: 75px;
}

#secao-2-title-abaixo-1{
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

#secao-2-title{
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
   
  }

}
@media screen and (max-width: 430px){
 /* me chamo */
  #secao-2-title .secao-2-title-principal {
    font-size: 55px;
  }
  #secao-2-title-abaixo-2 p{
    font-size: 25px;
  }

  #secao-2-ld-dir-responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }
  .secao-2-ld-dir-itens{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .secao-2-ld-dir-itens h1{
    font-size: 40px;
    text-align: center;
  }

  .secao-2-ld-dir-itens p{
    font-size: 20px;
    text-align: center;
  }

}









@media screen and (max-width: 310px){
  .fnd-blue-left-1-text{
    font-size: 40px;
    line-height: 40px;
  }

  #img-ao-lado{
    width: 60px;
    height: 60px;
    right: 0px;
  }



  #secao-2-title-abaixo-1{
    font-size: 25px;
  }
  #secao-2-title .secao-2-title-principal {
    font-size: 40px;
  }

}

@media screen and (max-width: 208px){
  .fnd-blue-left-1-text{
    font-size: 80%;
    line-height: 40px;
    text-align: center;
  }

  #img-ao-lado{
    display: none;
  }

  #text-box-itens{
    width: 80%;
    height: auto;
    padding: 0px 10px 0 10px;
    font-size: 80%;
  }


}