/* variaveis de cores */
:root{
--color-white: #fff;
--color-blue1: #0B1C38;
--color-blue2: #1B4185;
--league-spartan: "League Spartan";
}

/*main*/
*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.secao-1{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  height:100vh;
  background-image: url(../img/fundo.jpg);
  background-position: bottom, right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 50px;
  
}


.fnd-blue-left-1-text-admin{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  font-size: 150px;
  line-height: 180px;
}

#flex-direction-elements-1{
  display: flex;
  flex-direction: row;
}

.img-ao-lado-position{
  position: relative;
}

#img-ao-lado{
  position: absolute;
  bottom: 0px;
  right: +19px;
  width: 350px;
  height: 350px;
}
/*Caixa de texto da seção 1*/


#text-box-1{
  display: flex;
  justify-content: center;
}
#text-box-itens{
  padding: 50px;
  background-color: var(--color-blue2) opacity(50%);
  width: 450px;
  height: 150px;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 6px;
}

#text-box-itens :nth-last-child(2){
  padding: 20px;

}



/*secao 2*/
.secao-2{
  background-color: #ffff;
  font-family: --league-spartan;
  min-height: 95vh;
  z-index: 1;
  backdrop-filter: blur(20px);
  position: relative;
  
}


#secao-2-admin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 95vh;
  /* background-image: url(../img/fundojhon.jpg); */
  background-repeat: no-repeat;
  background-position: center, center;
  z-index: 2;
 
}
#sobre-secao-2{
  padding-top: 40px;
  padding-left:100px;
  font-weight: bold;
  color: var(--color-blue2);
  font-family: var(--league-spartan);
  font-size: 25px;
}

#secao-2-admin-item #blur{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  background-color: #1b428542;
  border: 50px solid #1b428560;
  border-radius: 0px 50px 0px 200px;
  filter: blur(700px);
}


#secao-2-admin-item #blur2{
  position: absolute;
  top: -20px;
  left: 50%;
  width: 700px;
  height: 200px;
  background-color: #1b428562;
  border: 0px 50px 0px 200px solid #1b42855b;
  border-radius: 0px 50px 0px 200px;
  filter: blur(700px);

}


.secão-2-title-principal{
  font-size: 120px;
  font-family: var(--league-spartan);
  font-weight: 400;
  padding-bottom: 20px;
  color: var(--color-blue2);
}
#secao-2-title-abaixo-1{
  font-size: 40px;
  max-width: 300px;
  font-family: var(--league-spartan);
  font-weight: 400;
  color: var(--color-blue2);
}

#secao-2-title-abaixo-2{
  padding-top: 20px;
  max-width: 15em;
  font-size: 25px;
  padding-bottom: 40px;
  font-family: var(--league-spartan);
  font-weight: 350;
  color: var(--color-blue2);
}

.secao-2-btn-portf{
  background-color: var(--color-blue2);
  padding: 10px 20px;
  border-style: none;
  border-color: transparent;
}

/* lado direito */
#secao-2-ld-dir{
  display: flex;
  flex-direction: column;
  gap:50px;
}

.secao-2-ld-dir-itens p{
  font-size: 25px;
  font-family: var(--league-spartan);
  font-weight: 400;
  color: var(--color-blue2);
}

.secao-2-ld-dir-itens h1{
  font-size: 50px;
  font-family: var(--league-spartan);
  font-weight: 450;
  color: var(--color-blue2);
}